@font-face {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 500;
    src:
        local("Gilroy"),
        url("fonts/Gilroy-Regular.ttf") format("ttf");
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}


body, html {
    font-size: 16px;
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 25px;

}

p {
    font-style: normal;
    font-family: "Gilroy", sans-serif;
}

/*.logo {*/
/*    */
/*}*/

.header-button {
    display: inline-flex;
    padding: 10px 15px 8px 15px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: #00868A;
    color: white;
}

.flex-item-menu {
    border-right: 1px solid #000;
    padding: 20px;
    text-align: center;
}

